
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app {
    display: flex;
}
.sidebar {
    width: 210px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    padding: 10px 15px;
    cursor: pointer;
}
.sidebar li.active {
    background-color: #1abc9c;
}
.content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}

 .active_nav{
    background-color: red !important;
  font-weight: bold;
} 
